<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/addstudent" method="POST" enctype="multipart/form-data">
        <input type="file" name="profilePix" id="" accept="image/**">
        <input type="number" placeholder="Enter roll number" name="rollNumber">
        <input type="text" placeholder="Enter name" name="name">
        <input type="number" placeholder="Enter Age" name="age">
        <input type="text" placeholder="Enter city" name="city">
        <button type="submit">Submit</button>
    </form>
</body>
</html>