<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/addstudent" method="post">
        <input type="text" placeholder="Enter student name" name="name">
        <input type="number" placeholder="Enter student age" name="age">
        <input type="text" placeholder="Enter location" name="location">
        <input type="text" placeholder="Enter student password" name="password">
        <button>submit</button>
    </form>
</body>
</html>