<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <% content.map((i)=>{%>
        <h1><%= i.foodName %></h1>
    <%})%> -->

    <% content.map((i) => { %>
        <h1><%= i.foodname %></h1>
    <% }) %>
</body>
</html>